<table class="mb20">
    <tr>
        <%= f.label(:name, "Name") %>
        <%= f.text_field :name, :class => 'form-control' %>
    </tr>
    <tr>
        <%= f.label(:status_id, "Status") %>
        <%= f.text_field(:status_id, :class => 'form-control')%>
    </tr>
</table>