<ul class="nav justify-content-center">
    <li class="nav-item">
        <%= link_to("Nutritionist", {:contoller => 'nutritionist_profiles', :action => 'index'}, :class => 'nav-link')%>
    </li>
    <li class="nav-item">
        <%= link_to("City", {:contoller => 'master_cities', :action => 'index'}, :class => 'nav-link')%>
    </li>
    <li class="nav-item">
        <%= link_to("Speciality", {:contoller => 'master_specialities', :action => 'index'}, :class => 'nav-link')%>
    </li>
</ul>