<div class="new-nutritionist-container">

    <%= form_for(@nutritionist, :url => { :action => 'update', :id => @nutritionist.id }) do |f| %>

        <%= render(:partial => "form", :locals => {:f => f})%>

        <div class="form-buttons">
            <%= submit_tag("Create", :class => 'btn btn-primary') %>
        </div>
    <% end %>
</div>

