<div class="new-nutritionist-container">

    <%= form_for(:nutritionist_profiles,:html => { multipart: true }, :url => { :action => 'update', :id => @nutritionist.id }) do |f| %>

        <%= render(:partial => "form", :locals => {:f => f})%>

        <div class="form-buttons">
            <%= submit_tag("Update Nutritionist", :class => 'btn btn-primary mb20') %>
        </div>
    <% end %>
</div>

