<table class="mb20">
    <tr>
        <%= f.label(:name, "Name") %>
        <%= f.text_field(:name, :class => 'form-control')%>
    </tr>
    <tr>
        <%= f.label(:description, "Description") %>
        <%= f.text_area(:description, :class => 'form-control')%>
    </tr>
</table>